---

---


<style>
    .footer {
      background: #1a1f26;
      color: white;
      padding: 20px 20px;
      text-align: center;
    }
    .newsletter h2 {
      margin-bottom: 20px;
    }
    .newsletter-form {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    .newsletter-form input {
      padding: 10px;
      border: none;
      border-radius: 5px;
    }

    .footer-links {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 30px;
    }
    .footer-links div {
      text-align: left;
    }
    .footer-links h3 {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .footer-links ul {
      list-style: none;
      padding: 0;
    }
    .footer-links li {
      margin-bottom: 5px;
      font-size: 13px;
    }
    .footer-links a {
      color: white;
      text-decoration: none;
    }
    .footer-links a:hover {
      text-decoration: underline;
    }

    .newsletter-form button {
    background-color: white; /* Color de fondo inicial (Azul) */
    color: black; /* Color del texto */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease;

    }

    .newsletter-form button:hover {
    background-color: black; /* Color al pasar el mouse (Naranja) */
    color: white;
    transform: scale(1.05); /* Efecto de agrandado */
    }



    </style>

<footer class="footer">
  <div class="container">
    <div class="newsletter">
      <h2>SUSCRIBIRSE A NUESTRO NEWSLETTER</h2>
      <form class="newsletter-form">
        <input type="email" placeholder="Your Email" required>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="footer-links">
      <div>
        <h3>PRODUCTO</h3>
        <ul>
          <li><a href="/Producto/">Pro 2</a></li>
          <li><a href="/Producto">Accesorios</a></li>
        </ul>
      </div>
      <div>
        <h3>INVESTIGACIÓN</h3>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Papers</a></li>
          <li><a href="#">Publirreportajes de eventos</a></li>
        </ul>
      </div>
      <div>
        <h3>EDUCACIÓN CONTINUA</h3>
        <ul>
          <li><a href="/Webinars/">Webinars</a></li>
          <li><a href="/Cursos/">Cursos presenciales</a></li>
          <li><a href="/Cursos/">Diplomaturas</a></li>
        </ul>
      </div>
      <div>
        <h3>QUIÉNES SOMOS</h3>
        <ul>
          <li><a href="/Quienes/">Creación</a></li>
          <li><a href="/Quienes/">Team</a></li>
          <li><a href="/Quienes/">Impacto</a></li>
          <li><a href="/Quienes/">Propósito</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

