---

---


<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    min-height: auto;
    margin-bottom: 0;
    /* padding-bottom: 100px; */
    background-color: white;
  }


  .content {
    max-width: 800px;
    width: 100%;
    padding-bottom: 0.2rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    color: #6c757d;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    margin-top: 0.4rem;
    /* margin-bottom: auto; */
  }

      /* Líneas arriba y abajo del texto */
      .line {
      height: 1px; /* Grosor de la línea */
      background-color: grey; /* Color gris */
      width: 100%;
      margin-bottom: 0.6rem;
    }

  @media (max-width: 768px) {
    .subtitle {
      font-size: 1.5rem;
    }

  }
</style>

<section class="container">
  <div class="content">
    <h2 class="title">WEBINARS</h2>
    <div class="line"></div> <!-- Línea superior -->
    <h1 class="subtitle">Conocimiento a un clic de distancia</h1>
  </div>
</section>

